<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Developer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{../css/bootstrap.min.css}" />	
</head>
<body>
	<h1>Add course</h1>
	<form th:action="@{/student/{studentId}/courses(studentId=${student.studentId})}" method="get" enctype="multipart/form-data" >
	<div class="col-md-4">
		<div class="panel panel-default">
		
		 <div class="panel-body" style="padding-left: 5px;">
			Name:<b th:text="${student.name}"></b><br/>
			<div style="clear: both; display: block; height: 10px;"></div>
			Email:<b><span th:text="${student.emailId}"></span></b><br/>
			<div style="clear: both; display: block; height: 10px;"></div>
			Phone:<b><span th:text="${student.phone}"></span></b><br/>
			<div style="clear: both; display: block; height: 10px;"></div>
			DOB:<b><span th:text="${student.dob}"></span></b><br/>
			<div style="clear: both; display: block; height: 10px;"></div>
			Door No:<b><span th:text="${student.address.doorNo}"></span><br/></b>
			<div style="clear: both; display: block; height: 10px;"></div>
			Area:<b><span th:text="${student.address.area}"></span><br/></b>
			<div style="clear: both; display: block; height: 10px;"></div>
			City:<b><span th:text="${student.address.city}"></span><br/></b>
			<div style="clear: both; display: block; height: 10px;"></div>
			Pincode:<b><span th:text="${student.address.pincode}"></span></b><br/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			      
			Courses:
				<b><span th:each="course,iterStat : ${student.courses}">
					<span th:text="${course.courseName}"/><th:block th:if="${!iterStat.last}">,</th:block>
				</span></b>
				<br/>
				</div>
		</div>	
		<div style="clear: both; display: block; height: 10px;"></div>
			New Course:
			<select class="form-control" name="courseId">
				<option th:each="course : ${courses}" 
					th:value="${course.courseId}" 
					th:text="${course.courseName}">Course</option>
			</select>
			<br/>
			<br/>
			
			<div><input type="submit" class="btn btn-success" value="Add course"/></div>
	</div>
	</form>
</body>
</html>